# Node.js dependencies
node_modules/

# Dependency directories
/.pnp
.pnp.js

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# Package lock files
package-lock.json
yarn.lock

venv

# IDE-specific files
.vscode/
.idea/
.DS_Store

backend/EnvironmentSounds/

# Miscellaneous
*.log