flask
flask-cors
numpy
torch
transformers
pydub
pyannote.audio
scikit-learn
speechbrain
python-dotenv
requests
SpeechRecognition
Pillow
msgpack
einops
rich
torch-audiomentations
torchaudio
torchmetrics